[submodule "deps/test/express"]
	path = deps/test/express
	url = git://github.com/visionmedia/express.git
[submodule "deps/lib/requirejs"]
	path = deps/lib/requirejs
	url = git@github.com:peterwmwong/requirejs.git
