body{background-color:#1a1a1a;font-family:Calibri,Helvetica,Arial,sans-serif;margin:0;padding:0}
.banner{position:fixed;top:0;right:0;left:0;
  background: #555555; /* Old browsers */
  background: -moz-linear-gradient(top,  #555555 0%, #333333 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#333333)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #555555 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #555555 0%,#333333 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #555555 0%,#333333 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #555555 0%,#333333 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow:0 1px 8px #111;-moz-box-shadow:0 1px 8px #111;box-shadow:0 1px 8px #111;color:#fff;height:20px;z-index:2;
}
.banner > .logo{float:right;position:relative;color:#555;color:rgba(0,0,0,0.00);}
.banner > .logo:before{color:#bbb;font-weight:bold;text-shadow:0 -1px 0 #222;content:"Cell Specs";position:absolute;width:250px;top:0;right:10px;text-align:right}
.banner > .options{float:left;color:#555;text-align:left;font-size:0;padding:3px 0 0 5px;}
.banner > .options > *{color:#bbb;font-size:12px;font-weight:bold;text-shadow:0 -1px 0 #222}
.runner{border:none;margin:30px 0 0 0;padding:8px 10px 5px 10px;color:#ff8;}
.runner > .finished-at{color:#bbb;font-size:12px}
.runner.running{background-color:#331;border-bottom:2px solid rgba(255,255,136,0.70)}
.runner.passed{background-color:#132;border-bottom:2px solid rgba(187,255,187,0.70);}
.runner.passed a:visited,.runner.passed a{color:#bfb}
.runner.failed{background-color:#311;border-bottom:2px solid rgba(255,187,187,0.70);}
.runner.failed a:visited,.runner.failed a{color:#fbb}
.jasmine_reporter{margin:0;}
.jasmine_reporter a:visited,.jasmine_reporter a{text-decoration:none;color:#ff8}
.jasmine_reporter .passed > a:visited,.jasmine_reporter .passed a{color:#bfb}
.jasmine_reporter .faied > a:visited,.jasmine_reporter .faied a{color:#fbb}
.jasmine_reporter .skipped > a:visited,.jasmine_reporter .skipped a{color:#bbf}
.suite{border:none;padding:15px 0 0 12px;margin:0;font-size:22px;background-color:#331;}
.suite:first-of-type{padding:5px 0 0 12px;}
.suite:first-of-type.passed,.suite:first-of-type.failed{border-top:none}
.suite.passed{background-color:#132;}
.suite.passed > a{color:#bfb}
.suite.failed{background-color:#311;}
.suite.failed > a{color:#fbb}
.suite.skipped{background-color:#113}
.suite .run_spec{margin-right:10px}
.suite .suite{margin:5px 0 15px 0}
.spec{margin:0 0 0 15px;padding:5px 0 0 10px;font-size:16px;font-weight:normal;position:relative;}
.spec:last-child.failed,.spec:last-child.passed,.spec:last-child.skipped{border:none}
.spec.failed,.spec.passed,.spec.skipped{border:none}
.spec.passed{background-color:#132;}
.spec.passed > a{color:#bfb}
.spec.failed{background-color:#311;}
.spec.failed > a{color:#fbb}
.spec.skipped{background-color:#113}
.messages{border-left:none;margin:0 0 0 2px;padding:0 10px 0 0;color:#cbb;border-left:5px solid rgba(255,187,187,0.10);}
.messages > .resultMessage{background-color:#1a0808;padding:10px 0 0 10px;margin-top:5px;}
.messages > .resultMessage:first-child{margin-top:3px}
.messages > .stackTrace{background-color:#1a0808;border:none;margin:0;padding:3px 0 0 10px}
